    <!-- Información de Contacto -->
    <div class="container mt-3 contact-info-container" [style.display]="visible ? 'block' : 'none'">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="card my-card">
            <div class="card-body text-center">
              <h3 class="card-title mb-3">Información de Contacto</h3>
          <div class="row g-3">
            <div class="col-12 col-md-4">
              <div class="contact-item">
                <i class="bi bi-envelope-fill me-2"></i>
                <a href="mailto:matiasarroyo&#64;ufm.edu" class="text-decoration-none">matiasarroyo&#64;ufm.edu</a>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="contact-item">
                <i class="bi bi-github me-2"></i>
                <a href="https://github.com/Mati05-1" target="_blank" class="text-decoration-none">GitHub</a>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="contact-item">
                <i class="bi bi-linkedin me-2"></i>
                <a href="https://linkedin.com/in/matias-arroyo" target="_blank" class="text-decoration-none">LinkedIn</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>